<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>${REVERSED_GOOGLE_CLIENT_ID}</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>${GOOGLE_CLIENT_ID}</string>
	<key>GIDServerClientID</key>
	<string>${GOOGLE_SERVER_CLIENT_ID}</string>
</dict>
</plist>
